.calendar {
  color: $greyish-brown;

  background-color: $white;
}

.calendar__month-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.calendar__month-name {
  margin: 0;

  font-size: 20px;
  line-height: 20px;
  color: $dark-slate-blue;
}

.calendar__day-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $greyish-brown;
}

.calendar__day-name--off {
  color: $orange-red;
}

.calendar__day-input-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .calendar__month-name {
    font-size: 36px;
  }

  .calendar__day-name {
    font-size: 18px;
    line-height: 30px;
  }
}
