.contacts-info {
  margin: 0;
}

.contacts-info__tel,
.contacts-info__mail {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__contacts-info .contacts-info__tel,
.page-header__contacts-info .contacts-info__mail {
  color: $dark-blue-grey;
}

.registration__contacts-info .contacts-info__tel,
.registration__contacts-info .contacts-info__mail {
  color: $light-gold;
}
