.contacts-info__link {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-info__icon {
  width: 40px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .contacts-info__link {
    font-size: 28px;
    line-height: 28px;
  }
}
