.contacts-info__link {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-info__icon {
  width: 40px;
  height: 40px;
}

.registration__contacts-info .contacts-info__tel,
.registration__contacts-info .contacts-info__mail {
  color: $light-gold;
}
