.filter-travelmates {
  color: $dark-slate-blue;

  background-color: $light-gold;
}

.filter-travelmates__title {
  margin: 0;

  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.filter-travelmates__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-travelmates__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-travelmates__label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: $greyish-brown;
}

.filter-travelmates__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-slate-blue;

  background-color: $white;
}
