.main-link {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-two;

  background-color: $light-gold;
}

.main-link--index {
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: $dark-slate-blue;

  background-color: $light-gold;
}
