.page-title {
  margin: 0;

  font-size: 36px;
  line-height: 40px;
  color: $white;

  background-color: $dark-two;
}

@media (min-width: $tablet-width) {
  .page-title {
    font-size: 60px;
    line-height: 70px;
  }
}
