.registration {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  background-color: $dark-blue-grey;
}

.registration__desc {
  margin: 0;
}

.registration__link {
  color: $light-gold;
}
