.travelmates-intro {
  background-color: $bg-main-dark;
}

.travelmates-intro__wrapper {
  display: flex;
  flex-direction: column;
}

.travelmates-intro__title {
  margin-bottom: 25px;
}

.travelmates-intro__desc {
  width: 213px;
  margin: 0;
  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: $white;
}

.travelmates-intro__subtitle {
  display: inline-block;
  width: 192px;
  margin-bottom: 60px;

  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: $white;
}

.travelmates-intro__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.travelmates-intro .travelmate {
  min-height: 483px;
  margin-bottom: 10px;
}

.travelmates-intro__item:last-child .travelmate {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .travelmates-intro__wrapper {
    padding-right: 35px;
    padding-left: 35px;
  }

  .travelmates-intro__title {
    margin-bottom: 60px;
  }

  .travelmates-intro__desc {
    width: 423px;
    margin-bottom: 45px;

    font-size: 28px;
    line-height: 33px;
  }

  .travelmates-intro__subtitle {
    width: 258px;

    font-size: 21px;
    line-height: 25px;
  }

  .travelmates-intro__list {
    display: flex;
  }

  .travelmates-intro__item {
    margin-right: 50px;
  }

  .travelmates-intro__item:last-child {
    margin-right: 0;
  }

  .travelmates-intro .travelmate {
    width: 285px;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .travelmates-intro__wrapper {
    position: relative;

    align-items: flex-start;
    padding-right: 0;
    padding-left: 70px;
  }

  .travelmates-intro__subtitle {
    margin-bottom: 85px;
  }

  .travelmates-intro__list {
    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);
  }

  .travelmates-intro .travelmate {
    margin-bottom: 0;
  }

  .travelmates-intro__link {
    width: 280px;
  }
}
