$white: #ffffff;
$black: #000000;
$dark-blue-grey: #192144;
$dark-slate-blue: #1d2e5b;
$dark-two: #161c35;
$bg-dark: #0e1533;
$bg-main-dark: #121b42;
$light-navy: #132576;
$bg-grey: #eef0f6;
$pale-grey-two: #dfe3f0;
$light-blue-grey-five: #d4d9eb;
$cloudy-blue: #cbced9;
$greyish-brown: #444444;
$mango: #ff8d30;
$mango-two: #ffa530;
$mango-three: #ffbd30;
$light-gold: #ffd74b;
$orange-red: #ff5c23;

$tablet-width: 768px;
$desktop-width: 1440px;
